<% posts.comments.each do |comment| %>

<hr>
    <div class="media my-1">

      <%=image_tag comment.user.get_profile_image(100,100)%>
      <div class="media-body">
        <h5 class="mt-0"><%=comment.user.nickname %></h5>
        <strong class="text-left"><%=comment.comment %></strong>
        <%=link_to"削除",post_comment_path(comment.post,comment),method: :delete,class: "btn btn-sm btn-danger"%>
       </div>
    </div>
    <% end %>





