<p>ようこそBACKNETへ！<br>
ここはファン歴関係なく野球好きが集まり語り合うサイトです！！<br>
あなたもいろいろなファンと語り合いませんか？
</p>

<%= link_to "新規登録",new_user_registration_path %>
<%= link_to "ログイン",new_user_session_path %>
<%= link_to "ゲストログイン" %>
<%= link_to "マイページ",user_user_path(@user.id) %>